{% extends 'base.html' %}

{% block content %}

<div class="home-container">

    <div class="hero-card">

        <h1>Personal Expense Tracker</h1>

        <p>
            Manage your income, expenses, and financial insights in one clean dashboard.
            Track smarter and make better financial decisions.
        </p>

        <div class="hero-actions">

            {% if current_user.is_authenticated %}

                <a href="{{ url_for('dashboard') }}" class="primary-btn">
                    Go to Dashboard
                </a>

                <a href="{{ url_for('add_transaction') }}" class="secondary-btn">
                    Add Transaction
                </a>

            {% else %}

                <a href="{{ url_for('login') }}" class="primary-btn">
                    Login
                </a>

                <a href="{{ url_for('register') }}" class="secondary-btn">
                    Create Account
                </a>

            {% endif %}

        </div>

    </div>

</div>

{% endblock %}